@import "font-awesome";
@import "icomoon/variables";
@import "icomoon/icomoon";

// General
.map-marker-icon:before {
  content: $icomoon-map;
}

.email-icon:before {
  content: $icomoon-envelope;
}

.phone-icon:before {
  content: $icomoon-phone;
}

// Social
.github-icon {
  @extend .fa, .fa-github;
}

.linkedin-icon {
  @extend .fa, .fa-linkedin-square;
}
