// Fonts
$font-stack: Lato, Helvetica, sans-serif;

// Colors
$body-bg-color: #f0f0f0;
$card-bg-color: #fff;
$card-border-color: #e6e6e6;

$text-grey: #777;

$divider-color: #eee;

$header-color: #222222;
$subheader-color: #777;

$detail-icon-color: #707070;
$detail-text-color: #333333;

// Icons color
$github-light-mode: #171515;
$linkedin-light-mode: #0077B5;