// Fonts
$font-stack: Lato, Helvetica, sans-serif;

// Colors
$brightest: #f0f0f0;
$brighter: #e6e6e6;
$bright: #e0e0e0;
$gray: #707070;
$dark: #333333;
$darkest: #222222;

// Color assignment
$body-bg-color: $brightest;

$card-bg-color: $white;
$card-hr-color: $brighter;
$card-border-color: $brighter;

$header-color: $darkest;
$subheader-color: $gray;
$text-color: $dark;

$a-color: $dark;
$a-active-color: $gray;

$profile-title-color: $gray;
$detail-text-color: $dark;
$detail-icon-color: $gray;

// Icons color
$github-light-mode: #171515;
$linkedin-light-mode: #0077B5;