@import "settings";
@import "foundation";
@import "font-awesome";
@import "icomoon/icomoon";
@import "vars";
@import "icons";

body {
  background-color: $body-bg-color;
  font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
}

hr {
  border: 0;
  border-top: 1px solid $card-border-color;
  margin: 10px 0;
  height: 0;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  border-bottom: 1px solid rgba($detail-text-color, 0);
  transition: border 500ms ease;
  &:hover {
    color: inherit;
    border-bottom: 1px solid rgba($detail-text-color, 1);
  }
}

.main {
  padding: 5px;
  max-width: 100%;
}

.card-wrapper {
  padding: 5px;
}

.card {
  padding: 5px;
  background-color: $card-bg-color;
  border: 1px solid $card-border-color;
  border-radius: 2px;
}

.text-upper {
  text-transform: uppercase;
}

header {
  display: flex;
  justify-content: space-between;
}

.header {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  color: $header-color;
  margin: 10px 0;
}

.header-flex {
  @extend .header;
  display: inline-block;
}

.subheader {
  @extend .header;
  font-size: 16px;
  color: $subheader-color;
}

#language-selector {
  display: inline-block;
  margin: auto 0;

  li {
    display: inline;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    padding: 0;
    margin: 0;
  }

  li + li:before {
    content: '/';
  }
}

.profile-card {
  @extend .card;

  .profile-pic {
    $pic-size: 150px;
    $margin-bt: 30px;
    background: url("../img/profile.jpg") no-repeat;
    background-size: cover;
    width: $pic-size;
    height: $pic-size;
    border-radius: 100%;
    margin: $margin-bt auto;
    display: block;
  }

  .name {
    font-size: 24px;
    font-weight: 700;
    margin: 20px auto;
  }

  .title {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    margin: 15px auto;
    color: $text-grey;
  }

  .contacts-details {
    border-top: 1px solid $divider-color;
    padding: 5px;
    display: table;
    width: 100%;

    .detail {
      display: table-row;

      ._cell {
        display: table-cell;
        vertical-align: middle;
        color: $detail-text-color;
        font-size: 0.7em;
        padding: 10px 0;
      }

      .icon {
        @extend ._cell, .text-center;
        font-size: 24px;
        padding: 0 10px;
        font-family: icomoon, sans-serif;
      }

      .info {
        @extend ._cell;
      }
    }
  }

  .contacts-socials {
    @extend .text-center;

    border-top: 1px solid $divider-color;
    padding: 5px;

    .social-link {
      padding: 5px;
      font-size: 32px;
      color: inherit;

      .github-icon {
        color: $github-light-mode;
      }

      .linkedin-icon {
        color: $linkedin-light-mode;
      }
    }
  }
}

.content-card {
  @extend .card;
  padding: 10px 20px;
  display: table;

  .cvsection {
    display: table-row;

    .icon {
      display: table-cell;
      padding: 10px 10px;
      font-size: 16px;
    }

    .info {
      display: table-cell;
      font-size: 14px;
      padding: 10px 10px;

      .title {
        @extend .subheader;
      }

      .cventry {
        border-top: 1px solid $card-border-color;
        padding: 5px 0 0;
        margin-bottom: 15px;
      }
    }
  }
}