@import 'vars';

html {
    font-size: 80%;
}

body {
    font-family: 'fira-sans';
    background-color: $fg;
    color: $bg0-lighter;
    padding: 4rem, 0rem;
}

header {
    width: 70%;
    margin: auto;
    color: $orange-dark;
    border-bottom: 1px solid $yellow;

    h1 {
        font-size: 3rem;
        padding: 0.25em 0em;
        font-weight: bold;
    }
}

article {
    width: 70%;
    margin: auto;
    padding-bottom: 1em;
    border-bottom: 1px solid $blue;

    h1, h2 {
        text-align: center;
    }
}
