$icomoon-font-path: "../fonts" !default;

$icomoon-phone: "\e004";
$icomoon-clipboard: "\e008";
$icomoon-book-open: "\e00b";
$icomoon-briefcase: "\e015";
$icomoon-trophy: "\e023";
$icomoon-map: "\e025";
$icomoon-envelope: "\e028";
$icomoon-telescope: "\e02a";
$icomoon-attachment: "\e02e";
$icomoon-lightbulb: "\e030";
$icomoon-tools-2: "\e034";
$icomoon-profile-male: "\e040";
$icomoon-genius: "\e046";
$icomoon-cloud-download: "\e900";

