<div id="main-container" class="row main clearfix">
    <div class="large-3 medium-12 small-12 columns card-wrapper profile-card-wrapper">
        <nav class="profile-card">
            <div class="profile-header">
                <div class="profile-pic"></div>
                <h3 class="name text-center">Ilario Pierbattista</h3>
                <h5 class="title text-center">
                    <span id="professional-title">{{ 'profile_title' | translate }}</span>
                </h5>
            </div>

            <div class="profile-data">
                <div class="contacts-details clearfix">
                    <div class="detail">
                        <span class="icon map-marker-icon"></span>
                        <span class="info">{{ 'location' | translate }}</span>
                    </div>

                    <div class="detail">
                        <span class="icon phone-icon"></span>
                        <span class="info">(+39) 340-5190739</span>
                    </div>

                    <div class="detail">
                        <span class="icon email-icon"></span>
                        <span class="info">
                        <a href="mailto:pierbattista.ilario@gmail.com" target="_blank">pierbattista.ilario@gmail.com</a>
                    </span>
                    </div>

                    <div class="detail">
                        <span class="icon cv-icon"></span>
                        <span class="info">
                        <a href="static/doc/cv_Ilario_Pierbattista_IT.pdf" target="_blank">Curriculum Vitae</a>
                    </span>
                    </div>
                </div>

                <div class="contacts-socials">
                    <a href="https://github.com/ilario-pierbattista" target="_blank" class="social-link">
                        <span class="github-icon"></span></a>
                    <a [attr.href]="'linkedin' | translate" target="_blank" class="social-link">
                        <span class="linkedin-icon"></span></a>
                </div>
            </div>

        </nav>
    </div>

    <div class="large-9 medium-12 small-12 columns card-wrapper">
        <div class="content-card">

            <header>
                <div class="header-flex text-upper">{{ 'background' | translate }}</div>
                <!-- Selettore della lingua @TODO completare la traduzione dei contenuti
                <ul id="language-selector">
                    <li *ngFor="let lang of supportedLanguages; let i=index">
                        <a href="#?lang={{ lang.value }}" (click)="selectLang(lang.value)"
                           [class.active]="isCurrentLang(lang.value)"
                           [class.with-separator]="i < supportedLanguages.length - 1">
                            {{lang.iso_code}}
                        </a>
                    </li>
                </ul>
                -->
            </header>

            <hr/>

            <section>
                <!-- Presentazione -->
                <div class="cvsection">
                    <div class="icon"><span class="icomoon-profile-male"></span></div>
                    <div class="info">
                        <div class="title">{{ 'about' | translate }}</div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam blanditiis consectetur cum
                        deleniti
                        dignissimos exercitationem explicabo harum laudantium molestias neque omnis provident quasi
                        ratione
                        rem
                        soluta,
                        tenetur vel vitae, voluptate!
                    </div>
                </div>

                <!-- Lavoro -->
                <div class="cvsection">
                    <div class="icon"><span class="icomoon-briefcase"></span></div>
                    <div class="info">
                        <div class="title">{{ 'experience' | translate }}</div>

                        <div class="cventry cventry-new-context">
                            <div class="cventry-info">
                                <div class="institution-info">
                                    <div class="institution">
                                        <a href="http://www.aprongroup.it/" target="_blank">ApronGroup S.r.l.</a>
                                    </div>
                                    <div class="location">Porto Sant'Elpidio (FM)</div>
                                </div>
                                <div class="position-info">
                                    <div class="position active">Sviluppatore Software Freelance</div>
                                    <div class="dates">Mar. 2016 - Giu. 2016, Feb. 2016 - Presente</div>
                                </div>
                            </div>

                            <div class="cventry-details">
                                <ul class="bulletpoints">
                                    <li>Sviluppo rapido di <span class="textit">applicazioni android</span> prototipali
                                        per demo
                                    </li>
                                    <li>Sviluppo di <span class="textit">firmware</span> per microcontrollori Atmel.
                                        Integrazione software di componentistica hardware di terze parti
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Portfolio lavori -->
                <div class="cvsection">
                    <div class="icon"><span class="icomoon-tools-2"></span></div>
                    <div class="info">
                        <div class="title">Portfolio</div>

                        <!-- Localizar -->
                        <div class="cventry cventry-new-context">
                            <div class="cventry-info">
                                <div class="institution-info">
                                    <div class="institution">Localizar
                                        <span class="cventry-label progetto-universitario"></span>
                                    </div>
                                    <div class="location">Ancona</div>
                                </div>
                                <div class="position-info">
                                    <div class="position">Navigatore di Punti di Interesse in Realtà Aumentata</div>
                                    <div class="dates">Giu. 2016 - Lug. 2016</div>
                                </div>
                            </div>

                            <div class="cventry-details">
                                <p class="cvparagraph">
                                    <span class="cvparagraph-title">Background:</span>

                                </p>

                            </div>
                        </div>

                        <!-- Wescape -->
                        <div class="cventry cventry-new-context">
                            <div class="cventry-info">
                                <div class="institution-info">
                                    <div class="institution">Wescape
                                        <span class="cventry-label progetto-universitario"></span>
                                    </div>
                                    <div class="location">Ancona</div>
                                </div>
                                <div class="position-info">
                                    <div class="position">Sistema distributo di navigazione indoor</div>
                                    <div class="dates">Dic. 2015 - Giu. 2016</div>
                                </div>
                            </div>

                            <div class="cventry-details">
                                <p class="cvparagraph">
                                    <span class="cvparagraph-title">Background:</span>

                                </p>

                                <ul class="bulletpoints">
                                    <li class="bulletpoints-title">Il mio ruolo</li>
                                    <li>Sviluppo Android</li>
                                    <li>Design, sviluppo e documentazione delle API RESTful</li>
                                    <li>Testing (sia delle API che dell'applicazione android) e Continuous Integration
                                    </li>
                                    <li>Deployment su VPS</li>
                                    <li>Pubblicazione sul Playstore</li>
                                </ul>

                                <div class="structured-details">
                                    <div class="detail">
                                        <div class="detail-key">Deliverable</div>
                                        <div class="detail-value">
                                            Applicazione <span class="textit">Android</span>,
                                            Servizio <span class="textit">RESTful</span>
                                        </div>
                                    </div>
                                    <div class="detail">
                                        <div class="detail-key">Applicazione Android</div>
                                        <div class="detail-value">
                                            Inserire link al playstore
                                        </div>
                                    </div>
                                    <div class="detail">
                                        <div class="detail-key">Codice Sorgente</div>
                                        <div class="detail-value">
                                            Inserire link al repo App Android , Inserire link al repo servizio rest
                                        </div>
                                    </div>
                                    <div class="detail">
                                        <div class="detail-key">Tecnologie principali</div>
                                        <div class="detail-value">
                                            <span class="textit">Symfony3</span> e <span class="textit">Doctrine2</span>,
                                            framework <span class="textit">Android</span>, <span
                                                class="textit">Docker</span>,
                                            framework per <span class="textit">test unitari</span> e <span
                                                class="textit">funzionali</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Dresslab -->
                        <div class="cventry cventry-new-context">
                            <div class="cventry-info">
                                <div class="institution-info">
                                    <div class="institution">Dresslab
                                        <span class="cventry-label hackathon"></span>
                                    </div>
                                    <div class="location">Cervia (RA)</div>
                                </div>
                                <div class="position-info">
                                    <div class="position">Sistema distribuito per Boutique</div>
                                    <div class="dates">Mag. 2016</div>
                                </div>
                            </div>

                            <div class="cventry-details">
                                <p class="cvparagraph">

                                </p>

                                <ul class="bulletpoints">
                                    <li class="bulletpoints-title">Il mio ruolo</li>
                                    <li>Sviluppo web fullstack</li>
                                    <li>RESTful API design</li>
                                    <li>Sviluppo firmware</li>
                                    <li>Deployment</li>
                                </ul>

                                <div class="structured-details">
                                    <div class="detail">
                                        <div class="detail-key">Deliverable</div>
                                        <div class="detail-value">
                                            Applicazione <span class="textit">web</span>,
                                            Servizio <span class="textit">RESTful</span>,
                                            applicazione <span class="textit">Android</span>,
                                            dispositivo di <span class="textit">lettura dei tag RFID</span>
                                        </div>
                                    </div>
                                    <div class="detail">
                                        <div class="detail-key">Tecnologie principali</div>
                                        <div class="detail-value">
                                            <span class="textit">Symfony3</span> e <span class="textit">Doctrine2</span>,
                                            framework <span class="textit">Android</span>, framework <span
                                                class="textit">Arduino</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- HASP tracker -->
                        <div class="cventry cventry-new-context">
                            <div class="cventry-info">
                                <div class="institution-info">
                                    <div class="institution">Head And Shoulder Profile Tracker
                                        <span class="cventry-label progetto-universitario"></span>
                                    </div>
                                    <div class="location">Ancona</div>
                                </div>
                                <div class="position-info">
                                    <div class="position">Libreria per il riconoscimento di profili umani</div>
                                    <div class="dates">Apr. 2015 - Nov. 2015</div>
                                </div>
                            </div>

                            <div class="cventry-details">
                                <p class="cvparagraph">
                                    Il progetto, sviluppato all'interno del contesto più ampio dell'<span class="emph">Ambient Assisted Living</span>
                                    presso il <span class="emph">laboratorio di Telecomunicazioni</span> dell'<span
                                        class="emph">Università Politecnica delle Marche</span>, consiste in una
                                    libreria Matlab per il riconoscimento dei profili umani dall'alto (<span
                                        class="emph">Head And Shoulder Profile</span>).
                                    È stata utilizzata una <span class="emph">Kinect V2</span> come periferica di
                                    acquisizione degli stream di profondità.
                                    Il sistema di riconoscimento si ispira a quello proposto da <span class="emph">Viola-Jones</span>
                                    (<span class="reference-title"><a href="#" target="_blank">Robust real-time face detection</a></span>)
                                    per il riconoscimento dei volti umani: i classificatori vengono generati utilizzando
                                    l'algoritmo <span class="emph">Adaboost binario</span>.
                                </p>

                                <p class="cvparagraph">
                                    Sebbene la libreria sia stata sviluppata per essere utilizzata all'interno
                                    dell'ambiente Matlab, la maggior parte di essa è stata implementata in <span
                                        class="textit">C++</span> per velocizzarne l'esecuzione.
                                    È stato anche sviluppato un tool grafico per la generazione rapida dei dataset di
                                    addestramento (ritaglio degli oggetti di allenamento e labellizzazione).
                                </p>

                                <div class="structured-details">
                                    <div class="detail">
                                        <div class="detail-key">Codice Sorgente</div>
                                        <div class="detail-value">
                                            <a href="https://github.com/ilario-pierbattista/hasp-tracker"
                                               target="_blank">
                                                Repository Github
                                            </a>
                                        </div>
                                    </div>

                                    <div class="detail">
                                        <div class="detail-key">Tecnologie principali</div>
                                        <div class="detail-value">
                                            <span class="textit">C++</span>, <span class="textit">Matlab</span>, <span
                                                class="textit">Java</span>
                                        </div>
                                    </div>

                                    <div class="detail">
                                        <div class="detail-key">Tesi</div>
                                        <div class="detail-value">
                                            <span class="reference-title">
                                                <a href="static/doc/tesi_triennale_IT.pdf" target="_blank">
                                                Implementazione di un algoritmo di riconoscimento della persona che
                                                utilizza frame di profondità
                                            </a></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Medicalist -->
                        <div class="cventry cventry-new-context">
                            <div class="cventry-info">
                                <div class="institution-info">
                                    <div class="institution">
                                        <a href="http://medicalist.it"
                                           target="_blank">Medicalist</a>
                                        <span class="cventry-label progetto-universitario"></span>
                                    </div>
                                    <div class="location">Ancona</div>
                                </div>
                                <div class="position-info">
                                    <div class="position">Applicazione Web di Telemedicina</div>
                                    <div class="dates">Apr. 2015 - Giu. 2015</div>
                                </div>
                            </div>

                            <div class="cventry-details">
                                <p class="cvparagraph">
                                    È un portale realizzato come progetto per l'esame di <span class="emph">Tecnologie Web (triennale)</span>.
                                    È stato progettato per essere utilizzato da <span class="emph">pazienti</span>
                                    affetti da disturbi motori, i quali devono riportare gli eventuali episodi di crisi
                                    che sperimentano durante l'arco della giornata. I <span class="emph">medici</span>
                                    possono così valutare gli episodi dei pazienti che stanno seguendo ed eventualmente
                                    cambiare la prescrizione dei farmaci e le terapie consigliate.
                                </p>

                                <p class="cvparagraph">
                                    È stato migliorato l'<span class="textit">ORM</span> del framework Zend, rendendolo
                                    simile a quello del framework <span class="textit">Doctrine2</span>.
                                </p>

                                <ul class="bulletpoints">
                                    <li class="bulletpoints-title">Il mio ruolo</li>
                                    <li>Sviluppo fullstack</li>
                                    <li>Deployment su VPS offerto dall'Università</li>
                                </ul>

                                <div class="structured-details">
                                    <div class="detail">
                                        <div class="detail-key">Homepage</div>
                                        <div class="detail-value">
                                            <a href="http://medicalist.it" target="_blank">Medicalist.it</a>
                                        </div>
                                    </div>

                                    <div class="detail">
                                        <div class="detail-key">Tecnologie principali</div>
                                        <div class="detail-value">
                                            <span class="textit">PHP</span> con framework <span
                                                class="textit">Zend</span>,
                                            jQuery e <span class="textit">SASS</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Studeasy -->
                        <div class="cventry cventry-new-context">
                            <div class="cventry-info">
                                <div class="institution-info">
                                    <div class="institution">Studeasy<span
                                            class="cventry-label progetto-universitario"></span></div>
                                    <div class="location">Ancona</div>
                                </div>
                                <div class="position-info">
                                    <div class="position">Agenda Desktop per Impegni Universitari e Modulistica
                                    </div>
                                    <div class="dates">Dic. 2014 - Gen. 2015</div>
                                </div>
                            </div>

                            <div class="cventry-details">
                                <p class="cvparagraph">
                                    È un'applicazione desktop realizzata come progetto per l'esame di <span
                                        class="emph">Programmazione ad Oggetti (triennale)</span>. È un'agenda per
                                    gli
                                    impegni universitari (lezioni, esami, seminari, revisioni) ed un tool per la
                                    compilazione della modulistica da consegnare in segreteria studenti.
                                </p>

                                <p class="cvparagraph">
                                    Essendo un progetto d'esame con vincoli tecnologici abbastanza stretti, è stato
                                    implementato un semplice <span class="textit">ORM</span> per facilitare
                                    l'interazione con il database.
                                </p>

                                <div class="structured-details">
                                    <div class="detail">
                                        <div class="detail-key">Codice Sorgente</div>
                                        <div class="detail-value">
                                            <a href="https://github.com/ilario-pierbattista/studeasy"
                                               target="_blank">Repository
                                                Github</a>
                                        </div>
                                    </div>

                                    <div class="detail">
                                        <div class="detail-key">Tecnologie principali</div>
                                        <div class="detail-value"><span class="textit">Java</span>, <span
                                                class="textit">Java Swing</span></div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Unifacile -->
                        <div class="cventry cventry-new-context">
                            <div class="cventry-info">
                                <div class="institution-info">
                                    <div class="institution">
                                        <a href="http://unifacile.it" target="_blank">Unifacile</a>
                                        <span class="cventry-label progetto"></span>
                                    </div>
                                    <div class="location">Ancona</div>
                                </div>
                                <div class="position-info">
                                    <div class="position">Social Network per Studenti Universitari</div>
                                    <div class="dates">Set. 2013 - Feb. 2015</div>
                                </div>
                            </div>

                            <div class="cventry-details">
                                <p class="cvparagraph">
                                    Unifacile è un social network per studenti universitari, un portale nel quale è
                                    possibile condividere gratuitamente appunti, dispense, testi d'esame e materiale
                                    di
                                    ogni genere.
                                    Inizialmente Unifacile era ben integrata con la facoltà di Ingegneria e di
                                    Economia
                                    dell'<span class="emph">Università Politecnica delle Marche</span>.
                                    Nel Febbraio 2015 contava circa 2500 utenze a fronte dei circa 10000 studenti
                                    iscritti alle due facoltà.
                                </p>

                                <ul class="bulletpoints">
                                    <li class="bulletpoints-title">Il mio ruolo</li>
                                    <li>Sviluppatore fullstack dell'area amministrativa</li>
                                    <li>Sviluppatore backend del frontoffice</li>
                                    <li>Progettazione e amministrazione del database</li>
                                    <li>Web Scraping ed importazione dei dati</li>
                                </ul>

                                <div class="structured-details">
                                    <div class="detail">
                                        <div class="detail-key">Homepage</div>
                                        <div class="detail-value">
                                            <a href="http://unifacile.it" target="_blank">Unifacile.it</a>
                                        </div>
                                    </div>

                                    <div class="detail">
                                        <div class="detail-key">Tecnologie principali</div>
                                        <div class="detail-value">Sviluppo in <span class="textit">PHP</span> con
                                            <span
                                                    class="textit">Symfony2</span> e <span
                                                    class="textit">Doctrine2 ORM</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Istruzione -->
                <div class="cvsection">
                    <div class="icon"><span class="icomoon-book-open"></span></div>
                    <div class="info">
                        <div class="title">{{ 'education' | translate }}</div>

                        <!-- UNIVPM magistrale -->
                        <div class="cventry cventry-new-context">
                            <div class="cventry-info">
                                <div class="institution-info">
                                    <div class="institution">{{ 'univpm_name' | translate }}</div>
                                    <div class="location">{{ 'univpm_location' | translate }}</div>
                                </div>

                                <div class="position-info">
                                    <div class="position active">Laurea Magistrale in Ingegneria Informatica e
                                        dell'Automazione
                                    </div>
                                    <div class="dates">Settembre 2015 - Presente</div>
                                </div>
                            </div>

                            <div class="cventry-details">
                                <p class="cvparagraph">
                                    <span class="cvparagraph-title">Curriculum accademico: </span>
                                    L'offerta formativa del corso di laurea in <span
                                        class="emph">Ingegneria Informatica e dell'Automazione</span> presso l'<span
                                        class="emph">Università Politecnica delle Marche</span> è caratterizzata
                                    (sia
                                    alla magistrale che alla triennale) da un ampia rosa di esami a scelta
                                    specializzanti nell'uno o nell'altro ramo.
                                    Ho modellato il mio curriculum accademico inserendo il maggior numero possibile
                                    di
                                    insegnamenti specializzanti nel ramo <span class="textit">informatico</span>.
                                </p>

                                <ul class="bulletpoints">
                                    <li class="bulletpoints-title">Competenze rilevanti</li>
                                    <li>Metodologie di progettazione <span class="textit">Agile</span></li>
                                    <li>Tecniche avanzate di <span class="textit">ingegneria del software</span>
                                    </li>
                                    <li>Progettazione, sviluppo e deployment di <span class="textit">sistemi software distribuiti</span>
                                        con particolare attenzione ai servizi RESTful
                                    </li>
                                    <li>Conoscenza teorica e pratica dei paradigmi di <span class="textit">programmazione dichiarativa,
                                        funzionale, relazionale, vincolata, logica</span>
                                    </li>
                                    <li>Conoscenza dei principali problemi di <span
                                            class="textit">ricerca operativa</span> e delle relative metodologie
                                        risolutive
                                    </li>
                                </ul>

                            </div>
                        </div>

                        <!-- UNIVPM triennale -->
                        <div class="cventry">
                            <div class="cventry-info">
                                <div class="position-info">
                                    <div class="position">{{ 'univpm_bsc_title' | translate }}</div>
                                    <div class="dates">{{ 'univpm_bsc_dates' | translate }}</div>
                                </div>
                            </div>

                            <div class="cventry-details">
                                <p class="cvparagraph">
                                    <span class="cvparagraph-title">Curriculum Accademico:</span>
                                    Il corso di laurea triennale in <span class="emph">Ingegneria Informatica e dell'Automazione</span>
                                    fornisce una preparazione ingegneristica di base, alla quale si aggiungono
                                    insegnamenti affini di <span class="emph">ingegneria elettronica e delle telecomunicazioni</span>
                                    ed insegnamenti caratterizzanti.
                                    Ho modellato il mio curriculum accademico in modo da specializzarmi in <span
                                        class="textit">ingegneria informatica</span>.
                                </p>

                                <ul class="bulletpoints">
                                    <li>Tecniche di <span class="textit">ingegneria del software</span></li>
                                    <li>Progettazione, realizzazione e mantenimento di <span
                                            class="textit">basi di dati</span></li>
                                    <li>Progettazione e realizzazione di <span
                                            class="textit">applicazioni web</span>
                                        mediante l’utilizzo di moderni <span class="textit">framework MVC</span>
                                    </li>
                                    <li>Granitica conoscenza teorica e pratica dei paradigmi di <span
                                            class="textit">programmazione procedurale</span>
                                        e di <span class="textit">programmazione ad oggetti</span></li>
                                </ul>

                                <div class="structured-details">

                                    <div class="detail">
                                        <div class="detail-key">Tesi</div>
                                        <div class="detail-value">
                                            <span class="reference-title">
                                                <a href="static/doc/tesi_triennale_IT.pdf" target="_blank">Implementazione di un algoritmo di riconoscimento
                                            della persona che utilizza frame di profondità</a>
                                            </span> - Relatore: <span
                                                class="emph">Prof. Ennio Gambi</span> - Correlatori: <span
                                                class="emph">Prof.ssa Susanna Spinsante</span>,
                                            <span class="emph">Ing. Enea Cippitelli</span>
                                        </div>
                                    </div>

                                    <div class="detail">
                                        <div class="detail-key">Punteggio Finale</div>
                                        <div class="detail-value">109/110</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Premi -->
                <div class="cvsection">
                    <div class="icon"><span class="icomoon-trophy"></span></div>
                    <div class="info">
                        <div class="title">Concorsi e premi</div>

                        <div class="cventry cventry-new-context">
                            <div class="cventry-info">
                                <div class="institution-info">
                                    <div class="institution">
                                        <a href="http://events.dii.univpm.it/HackUNIVPM2016/"
                                           target="_blank">Hackunivpm 2016</a>
                                    </div>
                                    <div class="location">Ancona</div>
                                </div>
                                <div class="position-info">
                                    <div class="position">3° Posto, Gruppo BrightCode</div>
                                    <div class="dates">Nov. 2016</div>
                                </div>
                            </div>

                            <div class="cventry-details">
                                <p class="cvparagraph">
                                    <span class="cvparagraph-title">L'Hackathon:</span>
                                    Maratona di programmazione di 36 ore organizzata dai Dipartimenti di
                                    Ingegneria dell’Informazione e di Management dell’UNIVPM.
                                    Si deve consegnare la proof of work (un servizio web) e relativo business plan
                                    di un
                                    prodotto tenendo conto di un tema principale: questa terza edizione era votata
                                    alla
                                    ricerca di soluzioni IoT per smart house, smart city ed industry 4.0.
                                </p>

                                <p class="cvparagraph">
                                    <span class="cvparagraph-title">Connecter:</span>
                                    È il progetto proposto dal nostro gruppo.
                                    Si tratta di una piattaforma web per la vendita ed il controllo di qualità di
                                    soluzioni IoT.
                                    Chiunque può mettere in vendita il proprio prodotto IoT, all'unica condizione
                                    che
                                    esso includa un meccanismo di feedback che si interfacci con le API di <span
                                        class="textit">Connecter</span>, al fine di inviare costanti aggiornamenti
                                    sul
                                    suo stato di funzionamento.
                                    Connecter elabora queste informazioni sia per determinare il grado di
                                    affidabilità
                                    del prodotto, sia per permettere ai produttori di fornire tempestivamente
                                    assisteza
                                    in caso di malfunzionamenti.
                                </p>

                            </div>
                        </div>

                        <div class="cventry cventry-new-context">
                            <div class="cventry-info">
                                <div class="institution-info">
                                    <div class="institution">
                                        <a href="http://events.dii.univpm.it/HackUNIVPM2016/"
                                           target="_blank">VarGroup Innovation, 2° edizione</a>
                                    </div>
                                    <div class="location">Cervia (RA)</div>
                                </div>
                                <div class="position-info">
                                    <div class="position">3° Posto, Gruppo //noComment</div>
                                    <div class="dates">Mag. 2016</div>
                                </div>
                            </div>

                            <div class="cventry-details">
                                <p class="cvparagraph">
                                    <span class="cvparagraph-title">L'Hackathon:</span>
                                    I gruppi partecipanti, messi in contatto con dei committenti, devono presentare
                                    una
                                    soluzione innovativa al problema che viene loro sottoposto.
                                </p>

                                <p class="cvparagraph">
                                    <span class="cvparagraph-title">Dresslab:</span>
                                    È un sistema distribuito per boutique che sfrutta i chip rfid instalati nelle
                                    etichette dei prodotti per semplificarne la ricerca, l’inventariato e l’analisi
                                    delle vendite.
                                    Inoltre abbiamo presentato il prototipo di un camerino smart, il quale sfrutta i
                                    tag
                                    rfid per individuare i capi al suo interno e suggerirne altri al cliente
                                </p>

                            </div>
                        </div>

                        <div class="cventry cventry-new-context">
                            <div class="cventry-info">
                                <div class="institution-info">
                                    <div class="institution">
                                        <a href="http://events.dii.univpm.it/HackUNIVPM2014/"
                                           target="_blank">Hackunivpm 2014</a>
                                    </div>
                                    <div class="location">Ancona</div>
                                </div>
                                <div class="position-info">
                                    <div class="position">1° Posto, Gruppo BrightCode</div>
                                    <div class="dates">Nov. 2014</div>
                                </div>
                            </div>

                            <div class="cventry-details">
                                <p class="cvparagraph">
                                    <span class="cvparagraph-title">L'Hackathon:</span>
                                    Prima edizione di HackUNIVPM, focalizzata sulla promozione e lo sviluppo del
                                    turismo
                                    locale
                                </p>

                                <p class="cvparagraph">
                                    <span class="cvparagraph-title">Triplovin:</span>
                                    È una piattaforma web che offre un nuovo modello di fare e promuovere il
                                    turismo: gli abitanti locali - i così detti <span class="emph">lovers</span> - si
                                    offrono di fare da guida, mettendo a disposizione la loro profonda conoscenza del
                                    territorio, ai turisti (<span class="emph">tripper</span>).
                                </p>

                            </div>
                        </div>

                    </div>
                </div>

            </section>
        </div>
    </div>
</div>